* {
  margin: 0;
}

.app {
  display: flex;
  width: 100%;
  height: 100vh;
}

.container__left {
  background-image: url("https://res.cloudinary.com/dssvrf9oz/image/upload/v1622697328/Screenshot_2021-06-03_095340_lauqh3.png");
  width: 50%;
  background-size: cover;
  padding: 2.5rem;
}

.container__right {
  position: relative;
  height: 100vh;
  width: 50%;
  background-image: url("https://cdn.pixabay.com/photo/2021/04/03/02/31/ao-dai-6146344_960_720.jpg");
  background-size: cover; /* layout=filled? */
}

.container__right > .MuiSvgIcon-root {
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  right: 2.5rem !important;
  margin-left: auto;
  margin: 1.2rem 0.01rem;
  border-radius: 0.5rem;
  background-color: white;
  padding: 0.25rem;
}

.bottom {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0px;
  padding: 0.25rem;
  background-color: white;
  --tw-bg-opacity: 0.4;
  height: 20%;
  width: 100%;
  /* backdrop-filter */
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1px);
}

.product__container {
  display: flex;
  align-items: center;
  margin-left: 2.5rem;
}

.product h2 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.product p {
  margin-left: 2.5rem;
}

.product__container > .MuiSvgIcon-root {
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 1rem;
}

.arrows {
  display: flex;
  margin-right: 2rem;
}

.arrows .MuiSvgIcon-root {
  padding: 1rem;
}
