@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1.25rem;
  margin-left: 10%;
}

.paragraph {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
}
.heroText {
  margin-top: 10px;
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 1;
  /*font-family: "Krona One", sans-serif;*/
  font-family: "Bungee Shade", cursive;
}

.collectionButton {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  padding-left: 2.8rem;
}
.collectionButton > h3 {
  font-weight: bold;
}

.otherProducts {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -1rem;
}

.image1 {
  margin-right: 10px;
}

.image2 {
  margin-left: 10px;
}

.basedOn {
  position: absolute;
  right: 100;
  top: 0;
  font-weight: 100;
  font-size: small;
}
